@charset "UTF-8";
/* CSS Document */

.navbar-nav{
	margin-right: 100px;
}

.nav-link{
	color: #014d79;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	padding-right: 0px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 900;
	font-size: 25px;
}

.navbar{
	background: #FAB284;
}

.navlogo{
	margin-left: 100px;
}

.navlink:hover{
	color: palegreen;
}


/*class row*/

.classrow{
	background: url("Artboard 3 copy.png");
}


.classtitle{
	text-align: left;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color:#ffd632;
	padding-top: 100px;
	padding-bottom: 10px;
}

.classtext{
	color: #014d79;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
	text-align: justify;
	padding-bottom: 200px;
}


.bookdisplay{
	
	margin-top: 95px;
}

.description{
	color: #ffd632;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-size: 25px;
}

.price{
	color: #014d79;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-size: 30px;
	padding-bottom: 27px
}

.spanbegin{
	color: #014d79;
}

/*Footer*/

.copyright{
	background: #FAB284;
	height: 70px;
}

.copyrighttext{
	text-align: right;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 20px;
	padding-right: 20px;
	font-size: 20px;
}

.emailtext{
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 20px;
}